/* -----------------------Box Sizing----------------------- */

html {
    box-sizing: border-box;
}
*, 
*:before,
 *:after {
    box-sizing: inherit;
}

/* -----------------------Global Styles----------------------- */
body {
    background-color: white;
    font-family: "Merriweather", serif;
}
header.primary{
    background:blue;
    color:white;
    text-align: center;
    text-shadow: 1px 10px #000000;

}

